@model CS340_Group_Project.Models.ViewModels.PeopleIndexViewModel

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p>Name</p>
        </div>
        <div class="col-md-3">
            <p>Age</p>
        </div>
        <div class="col-md-3">
            <p>Homeworld</p>
        </div>
        <div class="col-md-3">
        </div>

    </div>


    @foreach (var person in Model.People)
    {
        <div class="row">
            <div class="col-md-3">
                <p>@person.FirstName @person.LastName</p>
            </div>
            <div class="col-md-3">
                <p>@person.Age</p>
            </div>
            <div class="col-md-3">
                <p>@person.Homeworld.Name</p>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    }
</div>